<ion-modal-view class="smallModal">
  <ion-content padding="true">
      
  
      
    <form novalidate name="AddressForm">
        <p class="formTxt">Please enter your company's physical address</p>        
       <div class="list list-inset">
        <label class="item item-input">
          <input type="text" class="caps" placeholder="Address Line 1" name="Address1" ng-model="User.address[0]" required="">
        </label>

        <div ng-show="AddressForm.$submitted || AddressForm.Address1.$touched">
          <span class="err" ng-show="AddressForm.Address1.$error.required">Please provide your address.</span>
        </div>

        <label class="item item-input">
          <input type="text" class="caps" placeholder="Address Line 2" name="Address2" ng-model="User.address[1]">
        </label>
        
         <label class="item item-input">
          <input type="text" class="caps" placeholder="Address Line 3" name="Address3" ng-model="User.address[2]">
        </label>
        
        <label class="item item-input">
          <input type="text" class="caps" placeholder="City" name="City" ng-model="User.address[3]" required=""/>
        </label>
           
        <div ng-show="AddressForm.$submitted || AddressForm.City.$touched">
          <span class="err" ng-show="AddressForm.City.$error.required">Please provide your city.</span>
        </div>       
       

        <label class="item item-input item-select">
          <div class="input-label item-text-wrap smallLabel">
            {{NewUser.region}}
          </div>
          <select ng-options="region for region in Regions" ng-model="User.region" required="" name="Region"  ng-class="{'customSmallSelect' : User.region != 'Region'}">
            <option value=""></option>
          </select>
        </label>
           
       <div ng-show="AddressForm.$submitted || AddressForm.Region.$touched">
            <span class="err" ng-show="AddressForm.Region.$error.required">Please provide your region.</span>
        </div>  
           
           
           <label class="item item-input">
          <input type="text"  maxlength="4" class="caps" placeholder="Zip Code" name="ZipCode"  ng-model="User.address[4]" required=""/>
        </label> 
           
        <div ng-show="AddressForm.$submitted || AddressForm.ZipCode.$touched">
          <span class="err" ng-show="AddressForm.ZipCode.$error.required">Please provide your ZIP Code.</span>
        </div>
           
    <button ng-click="CloseAddress()" class="button button-block button-balanced" ng-show="AddressForm.$valid">
      Done
    </button>
           
           
        </div>
    </form>

   

  </ion-content>
</ion-modal-view>