<ion-view>
  <ion-content>
    <h3>Change Password</h3>   

	  <form novalidate name="ChangePassword">
          <div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Current Password</span>
			<input type="password" name="CurrentPassword" ng-model="NewPassword.oldPassword" required>
		</label>

		<div ng-show="ChangePassword.$submitted || ChangePassword.CurrentPassword.$touched">
			<span class="err" ng-show="ChangePassword.CurrentPassword.$error.required">Please provide your current password.</span>
		</div>

		<label class="item item-input item-stacked-label">
			<span class="input-label">New Password</span>
			<input type="password" name="NewPassword" ng-model="NewPassword.newPassword" required>
		</label>

		<div ng-show="ChangePassword.$submitted || ChangePassword.NewPassword.$touched">
			<span class="err" ng-show="ChangePassword.NewPassword.$error.required">Please provide your current password.</span>
		</div> 

	</div>
      <div class="list list-inset">
      <button class="button button-block button-balanced" ng-show="ChangePassword.$valid" ng-click="SendPasswordChange()">
		  Submit
		</button>
      </div>
 </form>

  </ion-content>
</ion-view>
