<ion-view>
  <ion-content>
    <h3>Find Us</h3>

    <div class="findIcons pageButtons">
    	<a ng-click="LoadURL('http://kaytech.co.za/contact-us/branches-in-south-africa/')">
    		Kaytech Branches
    	</a>
    	<a ng-click="LoadURL('http://kaytech.co.za/contact-us/branches-in-south-africa/')">
    		SA Distributors
    	</a>
    	<a ng-click="LoadURL('http://kaytech.co.za/contact-us/international-distributors/')">
    		International Distributors
    	</a>
    </div>

  </ion-content>
</ion-view>