
	

	<div class="gameArea _jsGameArea" id="gameArea"  >
		<div id="box"></div>
        <div id="guide" class="chat-bubble left" ng-show="!Started">Tilt your screen left or right to help me catch the bottles.</div>
		<p ng-click="StopGame()" class="stopGame rotate90">Stop Game</p>
		<div class="scoreDisplay rotate90">{{TimeLeft}}</div>
		<img src="img/game/healthContainer.png" alt="" id="powerContainer">
		<div id="powerBar"></div>

		<div id="menuBox" ng-show="!Started" class="level3" ng-class="{'shown' : !Started}">
			<div class="menuText rotate90">
				<div id="userName" ng-show="!Started">Hi, {{User.firstName}}!</div>
				<h4>Aim of the game:</h4>
<!--                <p>Tilt your device to catch bottles in the bin for recycling into <span class="bidimLogo">bidim</span></p>-->
				<p>Recycle as many plastic bottles as you can to see how much <span class="bidimLogo">bidim</span> you can create!</p>
				<div id="startGame" class="gameBigButton level4" ng-click="StartGame()" ng-show="!Started">Start Game</div>
			</div>
		</div>

		<div id="resultBox" ng-show="ShowResult" class="level3" ng-class="{'shown' : ShowResult}">
			<div class="resultText rotate90">
				<div id="userName" class="congrats">Good Job {{User.firstName}}!</div>
				<div class="productData">
					<h4><span class="bidimLogo">bidim</span>{{Product.name}}</h4>
					<img src="{{Product.image}}">
					<p>Usage: {{Product.use}}</p>
				</div>
				<div id="okButton" class="gameBigButton level4" ng-click="Reset()">OK!</div>
			</div>
		</div>

	</div>

