<ion-view>
  <ion-content>

      <!-- <button ng-click="OpenNewAccount()" class="button button-block button-balanced">
        New User
      </button> -->

      <!-- <input type="file"> -->
    

    <div class="homeIcons pageButtons">
    	<a href="#/app/request/order">
    		<i class="ion-clipboard"></i>
    		Order Request
    	</a>
    	<a href="#/app/request/technical">
    		<i class="ion-settings"></i>
    		Technical Support
    	</a>
    	<a href="#/app/request/design">
    		<i class="ion-paintbrush"></i>
    		Design Request
    	</a>
    	<a href="#/app/request/account">
    		<i class="ion-help-circled"></i>
    		Account Enquiry
    	</a>
    	<a href="#/app/productinfo">
    		<i class="ion-ios-information-outline"></i>
    		Product Info
    	</a>
    	<a href="#/app/game">
    		<i class="ion-ios-game-controller-b"></i>
    		bidim Game
    	</a>
    	<a href="#/app/media">
    		<i class="ion-link"></i>
    		Media Links
    	</a>
    	<a href="#/app/findus">
    		<i class="ion-ios-search-strong"></i>
    		Find Us
    	</a>
    	<a ng-click="LoadURL('http://www.kaytech.co.za')">
    		<i class="ion-android-globe"></i>
    		Website
    	</a>
    </div>



  </ion-content>
</ion-view>
