<ion-view>
  <ion-content>
    <h3>Media Info</h3>

    <div class="mediaLinks pageButtons">
    	<a href="#/app/request/order">
    		<i class="ion-social-youtube youTube"></i>
    	</a>
    	<a href="#/app/request/technical">
    		<i class="ion-social-linkedin linkedIn"></i>
    	</a>
    	<a href="#/app/request/design">
    		<i class="ion-social-facebook faceBook"></i>
    	</a>
    	<a href="#/app/request/account">
    		<i class="ion-social-twitter twitter"></i>
    	</a>
    	<a href="#/app/productinfo">
    		<i class="ion-social-pinterest pinterest"></i>
    	</a>
    	<a href="#/app/game">
    		<i class="ion-social-googleplus googlePlus"></i>
    	</a>
    </div>


  </ion-content>
</ion-view>
