<ion-view>
  <ion-content>
    <h3>Product Applications</h3>

    <div class="productIcons pageButtons">
    	<a href="#/app/productType/diy">
    		<img src="img/DIY.png">
    		DIY
    	</a>
    	<a href="#/app/productType/erosion-control">
    		<img src="img/ErosionControl.jpg">
    		Erosion Control
    	</a>
    	<a href="#/app/productType/filtration-and-drainage">
    		<img src="img/FiltrationDrainage.jpg">
    		Filtration & Drainage
    	</a>
    	<a href="#/app/productType/hydraulic-construction">
    		<img src="img/HydraulicConstruction.jpg">
    		Hydraulic Construction
    	</a>
    	<a href="#/app/productType/other">
    		<img src="img/Other.jpg">
    		Other
    	</a>
    	<a href="#/app/productType/reinforcement-separation">
    		<img src="img/ReinSeper.jpg">
    		Reinforcement
    	</a>
    	<a href="#/app/productType/road-maintenance-rehabilitation">
    		<img src="img/RoadRehab.jpg">
    		Road Maintenance
    	</a>
    	<a href="#/app/productType/water-and-waste-containment">
    		<img src="img/WaterWaste.jpg">
    		Water & Waste
    	</a>
    </div>

  </ion-content>
</ion-view>
