<ion-view>
  <ion-content class="formPage" has-tabs="false" ng-hide="Authorized">
	<h3>Your account is still being created, please try again soon.</h3>
  </ion-content>
  <ion-content class="formPage" has-tabs="false" ng-show="Authorized" on-swipe-left="ClearForm()" on-swipe-right="PopulateForm()">
    <h3>{{Heading}}</h3>

    <!-- <div class="dots">
    	<span ng-class="" ng-click="PopulateForm()"></span>
    	<span ng-click="ClearForm()"></span>
    </div> -->

	<!-- Order/Quote Request Form -->
    <form novalidate name="OrderQuoteRequest" ng-show="Type == 'order'">

	    <div class="list">
			
		  <p class="formTxt">Personal Details</p>
		  <label class="item item-input">
		    <input type="text" class="caps" placeholder="First Name" name="FirstName" ng-model="Request.firstName" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.FirstName.$touched">
				<span class="err" ng-show="OrderQuoteRequest.FirstName.$error.required">Please provide your name.</span>
			</div>

		  <label class="item item-input">
		    <input type="text" class="caps" placeholder="Last Name" name="LastName" ng-model="Request.lastName" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.LastName.$touched">
				<span class="err" ng-show="OrderQuoteRequest.LastName.$error.required">Please provide your name.</span>
			</div>

		  <label class="item item-input">
		    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="Request.emailaddress" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.EmailAddress.$touched">
				<span class="err" ng-show="OrderQuoteRequest.EmailAddress.$error.required">Please provide your email.</span>
			</div>

		<p class="formTxt">Company Details</p>
		  <label class="item item-input">
		    <input type="text" placeholder="Company Name" name="Company" ng-model="Request.company" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.Company.$touched">
				<span class="err" ng-show="OrderQuoteRequest.Company.$error.required">Please provide your company name.</span>
			</div>

		  <label class="item item-input">
		    <input type="text" placeholder="Contact Number" name="ContactNumber" ng-model="Request.contactNumber" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.ContactNumber.$touched">
				<span class="err" ng-show="OrderQuoteRequest.ContactNumber.$error.required">Please provide your contact number.</span>
			</div>

		  <label class="item item-input">
		    <input type="text" placeholder="Address" name="Address" ng-model="Request.address" required="">
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.Address.$touched">
				<span class="err" ng-show="OrderQuoteRequest.Address.$error.required">Please provide your address.</span>
			</div>

		  <label class="item item-input item-select">
		    <div class="input-label item-text-wrap">
		      Region
		    </div>
		    <select ng-options="region for region in Regions" ng-model="Request.region" data-tab-disabled="true">
		    	<option value=""></option>
		    </select>
		  </label>

		<p class="formTxt">Request Details</p>
		  <label class="item item-input item-select">
		    <div class="input-label item-text-wrap">
		      Request Type
		    </div>
		    <select ng-model="Request.type" data-tab-disabled="true">
		    	<option>Quote</option>
		    	<option>Order</option>
		    </select>
		  </label>
		  
		  <label class="item item-input">
		  <textarea placeholder="Products/Quantities" name="ProductsQuantities" ng-model="Request.prodquant" required=""></textarea>		   
		  </label>

		  	<div ng-show="OrderQuoteRequest.$submitted || OrderQuoteRequest.ProductsQuantities.$touched">
				<span class="err" ng-show="OrderQuoteRequest.ProductsQuantities.$error.required">Please provide some more information.</span>
			</div>

		  <label class="item item-input">
		  <textarea placeholder="Project Details" ng-model="Request.details"></textarea>		  
		  </label>

		<div class="list" ng-repeat="photo in Photos track by $index">
		    <a class="item item-thumbnail-left" href="#">
				<img src="{{photo.src}}">
				<h2>{{photo.date  | date:'medium'}}</h2>
				<button class="button button-small button-assertive" ng-click="Remove(Photo, $index)">
					<i class="icon ion-ios-close-empty"></i> Remove
				</button>
		    </a>
		</div>

		<input type="file" fileread="Photo.src" id="photo" accept=".jpg,.jpeg" ng-show="PhotoInput()" style="display: none;">

		<button class="button button-positive cam" ng-click="ChooseSourceAndTakePhoto()" ng-hide="Photo.src">
		  <i class="icon ion-camera cam"></i>
		</button>

		<button ng-click="SendEnquiry(Request)" ng-show="OrderQuoteRequest.$valid" type="submit" class="button nextToCam button-balanced">
		  Submit
		</button>

		</div>

	</form>





	<!-- Other Requests -->
	<form novalidate name="StandardRequest" ng-hide="Type == 'order'">

	    <div class="list">
		
		<p class="formTxt">Personal Details</p>
		  <label class="item item-input">
		    <input type="text" class="caps" placeholder="First Name" name="FirstName" ng-model="Enquiry.firstName" required="">
		  </label>

		  	<div ng-show="StandardRequest.$submitted || StandardRequest.FirstName.$touched">
				<span class="err" ng-show="StandardRequest.FirstName.$error.required">Please provide your name.</span>
			</div>

		  <label class="item item-input">
		    <input type="text" class="caps" placeholder="Last Name" name="LastName" ng-model="Enquiry.lastName" required="">
		  </label>

		  	<div ng-show="StandardRequest.$submitted || StandardRequest.LastName.$touched">
				<span class="err" ng-show="StandardRequest.LastName.$error.required">Please provide your surname.</span>
			</div>

		  <label class="item item-input">
		    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="Enquiry.emailaddress" required="">
		  </label>

		  	<div ng-show="StandardRequest.$submitted || StandardRequest.EmailAddress.$touched">
				<span class="err" ng-show="StandardRequest.EmailAddress.$error.required">Please provide your email.</span>
			</div>

		  <label class="item item-input item-select">
		    <div class="input-label item-text-wrap">
		      Enquiry Type
		    </div>
		    <select ng-options="option for option in Options" ng-model="Enquiry.type" name="EnquiryType" required="" data-tab-disabled="true">
		    	<option value=""></option>
		    </select>
		  </label>
		  <div class="enquiryTypeExtra">{{Enquiry.type}}</div>

		  	<div ng-show="StandardRequest.$submitted || StandardRequest.EnquiryType.$touched">
				<span class="err" ng-show="StandardRequest.EnquiryType.$error.required">Please select enquiry type.</span>
			</div>

		  
		<p class="formTxt">Comments</p>
		  <label class="item item-input">
		    <textarea ng-model="Enquiry.comments" name="EnquiryDetails" required=""></textarea>
		  </label>

		  	<div ng-show="StandardRequest.$submitted || StandardRequest.EnquiryDetails.$touched">
				<span class="err" ng-show="StandardRequest.EnquiryDetails.$error.required">Please provide some more information.</span>
			</div>

		<div class="list" ng-repeat="photo in Photos track by $index">
		    <a class="item item-thumbnail-left" href="#">
				<img src="{{photo.src}}">
				<h2>{{photo.date  | date:'medium'}}</h2>
				<button class="button button-small button-assertive" ng-click="Remove(Photo, $index)">
					<i class="icon ion-ios-close-empty"></i> Remove
				</button>
		    </a>
		</div>

		<button class="button button-positive cam" ng-click="ChooseSourceAndTakePhoto()">
		  <i class="icon ion-camera cam"></i>
		</button>

		<input type="file" fileread="Photo.src" id="photo" accept=".jpg,.jpeg" ng-show="PhotoInput()" style="display: none;">

		<button ng-click="SendEnquiry(Enquiry)" ng-show="StandardRequest.$valid" type="submit" class="button nextToCam button-balanced">
		  Submit
		</button>

		</div>

	</form>

	


  </ion-content>
</ion-view>
