<html>
    <head>
    </head>
    <body>
        <div>A representative from Kaytech will be in contact with you shortly. If you require any further assistance please contact us on <a href="tel:+27317172300">+27 31 717 2300</a></div>        
        <div style="font-size:smaller;margin-top:5px;color:#808080">
            <div>Our business hours are:</div>
            <ul style="list-style-type:none;margin-top:0;padding-top:0">
                <li>Monday to Thursday 07:00 - 17:00</li>
                <li>Fridays 08:00 -15:00</li>
                <li>Closed on Weekends and Public Holidays</li>
            </ul>
        </div>
    </body>
</html>