<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="CancelResetPassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

       <button class="button button-block button-dark button-small" ng-click="CancelResetPassword()">
        Cancel
       </button>

      <!--      for searching user-->
      <div ng-hide="canReset">
        <form novalidate name="ResetForm">
		    <div class="list list-inset">
			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="Reset.username" required="">
			  </label>
			  	<div ng-show="ResetForm.$submitted || ResetForm.username.$touched">
					<span class="err" ng-show="LoginForm.username.$error.required">Please provide your username.</span>
				</div>
			  <button ng-click="GetResetQuestion()" class="button button-block button-balanced" ng-show="ResetForm.$valid">
			  Next
			</button>
          </div>           
		</form>
      </div>
      
      
      <!--      for validationg user question-->
      <div ng-show="canReset">
        <form novalidate name="AnswerForm">            
            <label>Question:</label>
            <p>{{Reset.question}}</p>
            <br/>
            <input type="text" placeholder="Answer" ng-model="Reset.answer" required=true/>
             
              <button ng-click="ResetPassword()" class="button button-block button-balanced" >Submit</button>
          </div>
        </form>
      
      </div>
      
    

  </ion-content>
</ion-modal-view>