<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseNewAccountWithoutSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
      
       <a class="button  button-clear button-dark" ng-click="CancelResetPassword()">Take me to login</a>
      <!--      for searching user-->
      <div ng-hide="canReset">
        <form novalidate name="LoginForm">
		    <div class="list list-inset">
			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="LoginFormData.username" required="">
			  </label>
			  	<div ng-show="LoginForm.$submitted || LoginForm.EmailAddress.$touched">
					<span class="err" ng-show="LoginForm.EmailAddress.$error.required">Please provide your username.</span>
				</div>
			  <button ng-click="GetResetQuestion()" class="button button-block button-balanced" ng-show="LoginForm.$valid">
			  Next
			</button>
          </div>           
		</form>
      </div>
      
      
      <!--      for validationg user question-->
      <div ng-show="canReset">
        <form novalidate name="AnswerForm">            
            <label>Question:</label>
            <p>sdfsf sdfsdfsd sdfsdfsdf sdfdsfsd sdfsdfdsfsd dfgdgfsdfsd sdfdsfdsf sdfdsfds sdfsdfsdfsd sdfsdfsd.</p>
            <br/>
            <input type="text" placeholder="Answer" required=true/>
             
              <button ng-click="LoginUser()" class="button button-block button-balanced" >Submit</button>
          </div>
        </form>
      
      </div>
      
    

  </ion-content>
</ion-modal-view>