<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="CloseNewAccountWithoutSignup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

  <ul class="list">
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" ng-model="IHaveAnAccount">
	     </label>
	     I already have an account.
	  </li>
	</ul>

  	<div ng-hide="IHaveAnAccount">
  		<h3>Please create an account to access this section.</h3>

	  	<form novalidate name="NewAccount">

		    <div class="list list-inset">

			  <label class="item item-input">
			    <input type="text" class="caps" placeholder="First Name" name="FullName" ng-model="NewUser.firstName" required="">
			  </label>

				<div ng-show="NewAccount.$submitted || NewAccount.FirstName.$touched">
					<span class="err" ng-show="NewAccount.FirstName.$error.required">Please provide your name.</span>
				</div>

			  <label class="item item-input">
			    <input type="text" class="caps" placeholder="Last Name" name="LastName" ng-model="NewUser.lastName" required="">
			  </label>

				<div ng-show="NewAccount.$submitted || NewAccount.LastName.$touched">
					<span class="err" ng-show="NewAccount.LastName.$error.required">Please provide your surname.</span>
				</div>

			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="NewUser.emailaddress" required="">
			  </label>

			  	<div ng-show="NewAccount.$submitted || NewAccount.EmailAddress.$touched">
					<span class="err" ng-show="NewAccount.EmailAddress.$error.required">Please provide your email.</span>
				</div>

			  <label class="item item-input">
			    <input type="password" placeholder="Password" name="Password" ng-model="NewUser.password" required="">
			  </label>

			  	<div ng-show="NewAccount.$submitted || NewAccount.Password.$touched">
					<span class="err" ng-show="NewAccount.Password.$error.required">Please provide your password.</span>
				</div>

			  <label class="item item-input">
			    <input type="password" placeholder="Confirm password" name="ConfirmPassword" ng-model="NewUser.confirmPassword" required="">
			  </label>

			  	<div ng-show="NewAccount.$submitted || NewAccount.ConfirmPassword.$touched">
					<span class="err" ng-show="NewAccount.ConfirmPassword.$error.required">Please confirm your password.</span>
				</div>

			  <label class="item item-input">
			    <input type="text" placeholder="Company Name" name="Company" ng-model="NewUser.company" required="">
			  </label>

			  	<div ng-show="NewAccount.$submitted || NewAccount.Company.$touched">
					<span class="err" ng-show="NewAccount.Company.$error.required">Please provide your company name.</span>
				</div>

			  <label class="item item-input">
			    <input type="text" placeholder="Contact Number" name="ContactNumber" ng-model="NewUser.contactNumber" required="">
			  </label>
			  	<div ng-show="NewAccount.$submitted || NewAccount.ContactNumber.$touched">
					<span class="err" ng-show="NewAccount.ContactNumber.$error.required">Please provide your contact number.</span>
				</div>               
				<ul class="list">
				    <li class="item" ng-click="EnterAddress()">
				      <i class="icon ion-briefcase rightIcon"></i>{{address}}
				    </li>                    
                    <li class="item" ng-click="EnterPostalAddress()">
				      <i class="icon ion-email rightIcon"></i>{{postal}}
				    </li>
				</ul>      
                

			 
			 <p class="formTxt">Other Information</p>

			<label class="item item-input item-select">
				<div class="input-label item-text-wrap">
				  Relationship Type
				</div>
				<select ng-options="rel for rel in RelationshipTypes" ng-model="NewUser.relationshipType" name="Relationship" required="" data-tab-disabled="true">
					<option value=""></option>
				</select>
			</label>

			<div ng-show="NewAccount.$submitted || NewAccount.Relationship.$touched">
				<span class="err" ng-show="NewAccount.Relationship.$error.required">Please provide your relationship type.</span>
			</div>

			<label class="item item-input item-select">
				<div class="input-label item-text-wrap">
				  Industry
				</div>
				<select ng-options="ind for ind in Industries" ng-model="NewUser.industry" name="Industry" required="" data-tab-disabled="true">
					<option value=""></option>
				</select>
			</label>

			<div ng-show="NewAccount.$submitted || NewAccount.Industry.$touched">
				<span class="err" ng-show="NewAccount.Industry.$error.required">Please provide your industry.</span>
			</div>

			  <p class="formTxt">Security</p>

			  <label class="item item-input item-select">
			    <div class="input-label item-text-wrap">
			      Security Question
			    </div>
			    <select ng-model="NewUser.Question" required="" data-tab-disabled="true">
			    	<option value="petsName">What is your pet's name?</option>
			    	<option value="fatherBirthYear">In what year was your father born?</option>
			    	<option value="favourite">What is your favourite colour?</option>
			    </select>
			  </label>

			  <label class="item item-input">
			    <input type="text" placeholder="Answer" name="Answer" ng-model="NewUser.Answer" required="">
			  </label>

			<button ng-click="CreateUser()" class="button button-block button-balanced" ng-show="NewAccount.$valid">
			  Submit
			</button>

			</div>

		</form>
  	</div>

  	<div ng-show="IHaveAnAccount">
  		<h3>Please log in.</h3>
  		<form novalidate name="LoginForm">

		    <div class="list list-inset">

			  <label class="item item-input">
			    <input type="email" placeholder="Email Address" name="EmailAddress" ng-model="LoginFormData.username" required="">
			  </label>

			  	<div ng-show="LoginForm.$submitted || LoginForm.EmailAddress.$touched">
					<span class="err" ng-show="LoginForm.EmailAddress.$error.required">Please provide your email.</span>
				</div>

			  <label class="item item-input">
			    <input type="password" placeholder="Password" name="Password" ng-model="LoginFormData.password" required="">
			  </label>

			  	<div ng-show="LoginForm.$submitted || LoginForm.Password.$touched">
					<span class="err" ng-show="LoginForm.Password.$error.required">Please provide your password.</span>
				</div>

			<button ng-click="LoginUser()" class="button button-block button-balanced" ng-show="LoginForm.$valid">
			  Log In
			</button>

			</div>  
			
            <button class="button button-block button-dark button-small" ng-click="ShowPasswordReset()">
			  I forgot my password!
			</button>          
		</form>
  	</div>

  </ion-content>
</ion-modal-view>
